<a href="https://colab.research.google.com/github/omkar3103/Python_Core_Practice_codes/blob/main/Pandas_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
ser = pd.Series([10,20,30,40,50])

In [3]:
ser

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [4]:
data = {'Name':['Omkar','Rahul','Sneha'],
        'Age':[22,23,21],
        'City':['Bangalore','Mumbai','Pune']}

In [5]:
df = pd.DataFrame(data)

In [6]:
df

    Name  Age       City
0  Omkar   22  Bangalore
1  Rahul   23     Mumbai
2  Sneha   21       Pune

In [7]:
print(df[0:2])

    Name  Age       City
0  Omkar   22  Bangalore
1  Rahul   23     Mumbai

In [16]:
print(df.columns)

Index(['Name', 'Age', 'City'], dtype='object')

In [17]:
df['Name']

0    Omkar
1    Rahul
2    Sneha
Name: Name, dtype: object

In [24]:
df[['Age','Name']]

   Age   Name
0   22  Omkar
1   23  Rahul
2   21  Sneha

In [25]:
df['Salary']=[30000,35000,28000]

In [26]:
df

    Name  Age       City  Salary
0  Omkar   22  Bangalore   30000
1  Rahul   23     Mumbai   35000
2  Sneha   21       Pune   28000

In [35]:
df.loc[0]

Name          Omkar
Age              22
City      Bangalore
Salary        30000
Name: 0, dtype: object

In [41]:
print(df.dtypes)

Name      object
Age        int64
City      object
Salary     int64
dtype: object

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
 3   Salary  3 non-null      int64
dtypes: int64(2), object(2)
memory usage: 228.0+ bytes