<a href="https://colab.research.google.com/github/omkar3103/Python_Core_Practice_codes/blob/main/Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Functions

simple Calculator

In [4]:
def calculator(a,b,operator):
  if(operator=='+'):
    return a+b
  elif(operator=='-'):
    return a-b
  elif(operator== '*'):
    return a*b
  elif(operator =='/'):

    return a/b
  elif(operator=='%'):
    return a%b
  else:
    return 'Invalid Operator'

print('Result According to operator :',calculator(10,20,'-'))

Result According to operator : -10

2️⃣ Even or Odd Function

In [7]:
def is_even(num):
  if(num%2==0):
    return 'Even'
  else:
    return 'Odd'

num=int(input('Enter a number :'))
print(is_even(num))

Enter a number :22
Even

3️⃣ Prime Checker Function

In [10]:
def is_prime(num):
   if num <=1:
    return 'Not Prime'
   for i in range(2,num):
    if num %i ==0:
      return 'Not Prime'
   else:
    return 'Prime'

num=int(input('Enter a number :'))
print(is_prime(num))

Enter a number :1
Not Prime

4️⃣ Factorial Using Function

In [11]:
def fact(num):
  i=1
  fct=1
  while(i<=num):
    fct=fct*i
    i+=1

  return fct

num=int(input('Enter a number :'))
print(fact(num))

Enter a number :5
120

5️⃣ Reverse a Number

In [18]:
def rev_num(num):
  rev=0
  while(num>0):
    rem=num%10
    rev=rev*10+rem
    num=num//10
  return rev

num=int(input('Enter a number :'))
print(rev_num(num))

Enter a number :123
321

6️⃣ Second Largest in List

In [30]:
list=[13,43,414,4534,44]

def second_high(list):
  max=list[0]
  second_max=0

  for i in list:
    if(i>max):
      second_max=max
      max=i
    elif(i>second_max):
        second_max=i
  return second_max

print(second_high(list))

414

7️⃣ Count Frequency

In [34]:
list_1=[43,41,31,31,13,13,43,43,43,31]
def frequency_counter(list_1):
  return {x: list_1.count(x) for x in set(list_1)}


print(frequency_counter(list_1))

{41: 1, 43: 4, 13: 2, 31: 3}

Annonymous function
(Lambda function)

Square Using Lambda

In [5]:
squares = lambda x:x**2
print(squares(4))

16

Cube Using Lambda

In [3]:
cube = lambda x:x**3
print(cube(4))

64

In [6]:
data =[x for x in range(1,10)]
data

[1, 2, 3, 4, 5, 6, 7, 8, 9]

2️⃣ Even Filter Using Lambda

In [9]:
lambda_even = lambda x:x%2==0

even_n=list(filter(lambda_even,data))
print(even_n)

[2, 4, 6, 8]

3️⃣ Multiply Two Numbers

In [10]:
mul = lambda a,b:a*b
print(mul(4,5))

20

4️⃣ Sort List of Tuples

In [11]:
students = [("Omkar",85), ("Rahul",72), ("Anita",90)]

In [14]:
sorted_l = sorted(students ,key=lambda x:x[1])
print(sorted_l)

[('Rahul', 72), ('Omkar', 85), ('Anita', 90)]

In [16]:
sorted_nm=sorted(students,key=lambda i:i[0])
print(sorted_nm)

[('Anita', 90), ('Omkar', 85), ('Rahul', 72)]

5️⃣ Conditional Lambda

In [17]:
nums = [1,2,3,4,5,6]

In [19]:

lambda_evn_mul = lambda  x:x*10  if x%2== 0 else x
even_mul=list(map(lambda_evn_mul,nums))
print(even_mul)

[1, 20, 3, 40, 5, 60]

Using filter() + lambda:

Return numbers:

Greater than 10

Divisible by 5

In [20]:
data = [12, 25, 7, 30, 18]

In [22]:
sorted_lambda = lambda x:x if x>10 and x%5==0 else None
sorted_list = list(filter(sorted_lambda,data))
print(sorted_list)

[25, 30]