<a href="https://colab.research.google.com/github/omkar3103/Python_Core_Practice_codes/blob/main/Python_Loops%26Comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Loops And Comprehension**

1Ô∏è‚É£ Square Numbers

Create a list of numbers from 1 to 20.

‚úî Using normal loop
‚úî Using list comprehension

In [4]:
l_1=[]
for i in range(1,21):
  l_1.append(i ** 2)
print(l_1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [6]:
squares = [i**2 for i in range (1,21)]
squares

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

2Ô∏è‚É£ Even Filter

In [7]:
l_2=[]
for i in range(1,11):
  if (i %2 == 0):
    l_2.append(i)
print('Even Number Filtered list:',l_2)

Even Number Filtered list: [2, 4, 6, 8, 10]

In [13]:
even_l2= [i for i in range(1,21) if i%2==0 ]
even_l2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

üü° 3Ô∏è‚É£ Remove Negatives

In [14]:
l_3=[123,2,-44,554,-32,-2]
l_3_1=[]
for i in l_3:
  if i>0:
    l_3_1.append(i)
print('positive Filtered :',l_3_1)

positive Filtered : [123, 2, 554]

In [18]:
positive_l = [x for x in l_3 if x>0]
positive_l

[123, 2, 554]

üü° 4Ô∏è‚É£ Flatten Nested List

In [21]:
l_4=[[1,2],[3,4],[5,6]]
l_4_1=[]
for i in l_4:
  l_4_1.extend(i)
print(l_4_1)

[1, 2, 3, 4, 5, 6]

In [28]:
nested_to_list=[x for sublist in l_4 for x in sublist]
nested_to_list #we need to use sublist to flatten nested list

[1, 2, 3, 4, 5, 6]

5Ô∏è‚É£ Dictionary Comprehension

1.Keys ‚Üí numbers 1 to 10
  Values ‚Üí squares

In [36]:
dict_1 = {x: x**3 for x in range(1,11)}
dict_1

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

6Ô∏è‚É£ Word Length Mapping

In [40]:
words = ["AI","Machine","Learning","Deep",'AI']
word_freq = {word: words.count(word) for word in list(words)}
word_freq

{'AI': 2, 'Machine': 1, 'Learning': 1, 'Deep': 1}

7Ô∏è‚É£ Unique Squares Set

In [42]:
set_comp={x**2 for x in range(1,16)}
set_comp

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225}

8Ô∏è‚É£ Conditional Comprehension

In [46]:
nums = [1,2,3,4,5,6,7,8,9]
ev_set = {x if x%2==0 else 0 for x in nums}
ev_set

{0, 2, 4, 6, 8}