<a href="https://colab.research.google.com/github/omkar3103/Python_Core_Practice_codes/blob/main/Python_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Python DataTypes

In [ ]:
str = 'My Name is Omkar Manoj Kulkarni'

In [2]:
age =21
salary = 100

print('current age :',age)
print('current salary :',salary)

print('previous year age :',age-1)
print('salary after 10% increament :',+salary+(salary*10/100))

current age : 21
current salary : 100
previous year age : 20
salary after 10% increament : 110.0

In [3]:
a=10.34
b=43.12

print("A :",a)
print('B :',b)

print('addition :',a+b)
print(type(a))
print(type(b))

A : 10.34
B : 43.12
addition : 53.459999999999994
<class 'float'>
<class 'float'>

In [5]:
is_student = True
is_present = False

print('Student is present in class :',is_student and is_present)
print('Student is went to school :',is_student or is_present)
print('Student is present in class :',not is_present)

Student is present in class : False
Student is went to school : True
Student is present in class : True

In [6]:
#Type Casting :

In [8]:
a = 21
print(a,type(a))
a = float(a)
print('after type casting :',type(a))

21 <class 'int'>
after type casting : <class 'float'>

In [9]:
is_happy = False
print(type(is_happy))

<class 'bool'>