<a href="https://colab.research.google.com/github/omkar3103/Python_Core_Practice_codes/blob/main/Python_Datastructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
prac_list = [1,'omkar',2,'manoj',3,'kulkarni',4,321.43,True]

In [ ]:
print(prac_list[0])
print(prac_list[-1])
print(prac_list[3:8:3])

1
True
['manoj', 4]

In [ ]:
#2Ô∏è‚É£ Sum Without sum()

#Find the total of elements manually using loop.

In [ ]:
sum = 0
for i in prac_list:
  if ((type(i) == int or float) and (type(i) != str)):
    sum = sum+i

print(sum)

332.43

#3Ô∏è‚É£ Find Maximum (Without m())
Find the largest number manually.

In [ ]:
max = prac_list[0]
for i in prac_list:
  if((type(i)== int or type(i)==float) and (type(i) != str)):
    if i > max :
      max = i
print('max :',max)

max : 321.43

Count Occurrences

In [ ]:
no = int(input('Enter Number :'))
count=0
not_found=0
for i in prac_list:
  if i == no:
    count +=1

else:
  print(f'No appeared {count} times')

Enter Number :4
No appeared 1 times

5Ô∏è‚É£ Reverse Without Built-in
Reverse list manually (no slicing, no reverse()).

In [ ]:
i=len(prac_list)-1
while(i>=0):
  print(prac_list[i],' ')
  i-=1

True
321.43
4
kulkarni
3
manoj
2
omkar
1

9Ô∏è‚É£ Remove Duplicates (No set)

In [ ]:
uniq_list=[]
for i in prac_list:
  if i not in uniq_list:
    uniq_list.append(i)

print(uniq_list)

[1, 'omkar', 2, 'manoj', 3, 'kulkarni', 4, 321.43]

üîü Rotate List

In [ ]:
k=prac_list[2]
print(prac_list[k:]+prac_list[:k])

[2, 'manoj', 3, 'kulkarni', 4, 321.43, True, 1, 'omkar']

1Ô∏è‚É£3Ô∏è‚É£ List Comparison

In [ ]:
a=[1,2,3,4]
b=[3,4,5,6]

comn_lst=[]
uniq_lst=[]
for i1 in a:
  for j1 in b:
    if i1==j1:
      comn_lst.append(i1)

for i2 in a:
  if i2 not in b:
      uniq_lst.append(i2)

for j2 in b:
  if j2 not in a:
    uniq_lst.append(j2)

print('comman elements in a and b:',comn_lst)
print('unique element in both a and b:',uniq_lst)

comman elements in a and b: [3, 4]
unique element in both a and b: [1, 2, 5, 6]

1Ô∏è‚É£5Ô∏è‚É£ Flatten Nested List

In [ ]:
l1=[[1,2],[3,4],[5,6]]
l2=[]
for i in l1:
  print(i)
  l2.extend(i)

print(l2)

[1, 2]
[3, 4]
[5, 6]
[1, 2, 3, 4, 5, 6]

1Ô∏è‚É£4Ô∏è‚É£ Frequency Without Dict

Count frequency of each element manually.

In [ ]:
lst= [1,2,3,4,2,4,2,2,1]
visited=[]
result=[]
cnt=0
for i in lst:
  if i not in visited:
    cnt = 0


    for j in lst:
      if i == j:
        cnt +=1

    result.append([i,cnt])
    visited.append(i)

print(result)

[[1, 2], [2, 4], [3, 1], [4, 2]]

1Ô∏è‚É£1Ô∏è‚É£ Pair Sum Problem

In [ ]:
ad_lst=[2, 4, 3, 5, 7, 8]
i=0
l_sum=0
pair=[]
sum_lst=[]

while(i<len(ad_lst)):
  pair.append([ad_lst[i],ad_lst[i+1]])


  l_sum = ad_lst[i] + ad_lst[i+1]
  sum_lst.append(l_sum)

  i=i+2

print('pairs :',pair)
print('Pair Sum :',sum_lst)

pairs : [[2, 4], [3, 5], [7, 8]]
Pair Sum : [6, 8, 15]

Tuples

In [1]:
tup_1 = (10,20,30,40,50)

1Ô∏è‚É£ Create tuple of 5 numbers and print:

First element

Last element

Length

In [4]:
print(tup_1[0])
print(tup_1[-1])
print(len(tup_1))

10
50
5

2Ô∏è‚É£ Count how many times 3 appears in:

In [6]:
print(tup_1.count(30))

1

3Ô∏è‚É£ Check if 10 exists in tuple.

In [7]:
print(10 in tup_1)

True

üü° PART 2 ‚Äî INTERMEDIATE
4Ô∏è‚É£ Concatenate two tuples.
5Ô∏è‚É£ Find maximum value manually (no max()).
6Ô∏è‚É£ Convert tuple to list, modify it, and convert back.

In [8]:
tup_2 = (60,70,80,90,100)

In [9]:
con_tup= tup_1+tup_2
print(con_tup)

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [10]:
max=con_tup[0]
for i in con_tup:
  if i> max :
    max = i

print(max)

100

In [14]:
tup_list = list(con_tup)
print(tup_list,type(tup_list))
tup_list.pop()
tup_list.append(110)
tup_list.insert(9,100)
print(tup_list)

con_tup=tuple(tup_list)
print(con_tup)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100] <class 'list'>
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]
(10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110)

PART 3 ‚Äî ADVANCED

7Ô∏è‚É£ Tuple unpacking
Unpack first two into variables, rest into list.

In [19]:
t = (10,20,30,40)
a,b,*rest = t
print(a)
print(b)
print(rest)

10
20
[30, 40]

In [20]:
t_1 = (10,10,10,30,20,40)
unq_t=[]
for i in t_1:
  if i not in unq_t:
    unq_t.append(i)

unq_t=tuple(unq_t)
print(unq_t)

(10, 30, 20, 40)

 PART 4 ‚Äî ML STYLE THINKING
üîü Store student data:


Create 5 such tuples in one tuple and:

Print names

Print students with marks > 80

In [24]:
st_1 = ('omkar',84,'AIML')
st_2 = ('Rushi',86,'AIML')
st_3 = ('Ninad',88,'AIML')
st_4 = ('Anshul',86,'AIML')
st_5 = ('sanjyot',80,'AIML')

In [30]:

students = st_1,st_2,st_3,st_4,st_5
students

for i, _, _ in students:
  print(i)

omkar
Rushi
Ninad
Anshul
sanjyot

In [33]:
for i,j,_ in students:
  if j>85:
    print(f'Student Name :{i}, Student Marks: {j}')

Student Name :Rushi, Student Marks: 86
Student Name :Ninad, Student Marks: 88
Student Name :Anshul, Student Marks: 86

In [34]:
points = ((1,2),(3,4),(5,6))

In [35]:
for i in points:
  print(i[0])

1
3
5

Convert into dictionary

In [36]:
tup_c = ('name','Omkar','sirname','Kulkarni')

In [39]:
dict_t ={}
for i in range(0,len(tup_c),2):
  key = tup_c[i]
  value =tup_c[i+1]
  dict_t[key] =value

print(dict_t)

{'name': 'Omkar', 'sirname': 'Kulkarni'}

In [45]:
result=dict(zip(tup_c[::2],tup_c[1::2]))
print(result)

{'name': 'Omkar', 'sirname': 'Kulkarni'}

In [46]:
tup_d1=('nm','rn','marks')
tup_d2=('omkar','55',78.35)

dict_d3 = dict(zip(tup_d1,tup_d2))
print(dict_d3)

{'nm': 'omkar', 'rn': '55', 'marks': 78.35}